<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add a Coffee</title>
	<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Pacifico" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<form action="/coffee/<%= coffee.id %>?_method=PUT" method="POST">
		
	<div id="create-container">
		<div id="container-bg">
			<div class="info-box">Image URL: <input type="text" name="img" value="<%= coffee.img %>"></div>
			<div class="info-box">Name of Coffee: <input type="text" name="name" value="<%= coffee.name %>"></div>  
			<div class="info-box">Caffeine(mg): <input type="text" name="mg_caffeine" value="<%= coffee.mg_caffeine %>"></div>
			<div class="info-box">Region: <input type="text" name="region" value="<%= coffee.region %>"></div>
			<div class="info-box">Method: <input type="text" name="method" value="<%= coffee.method %>"></div>
			<div class="info-box">Hot? <input type="checkbox" name="hot" 
				<% if (coffee.hot) { %> 
				checked
				<% } %>
				>
			</div>
		</div>
	</div>
	<input type="submit" value="Submit">

</form>
<nav>
	<a href="/coffee/<%= coffee.id %>">return</a>
</nav>

</body>
</html>