<!DOCTYPE html>
<html>
<head>
  <title>All Cars</title>
</head>
<body>
  <nav>
    <a href="cars/new">Create a new car</a>
  </nav>

  <h1>Here is a list of all avliable cars</h1>
  <form>
    <%for(let i=0; i<cars.length; i++) {%>
      <li>
        <a href="/cars/<%=cars[i].id%>">
        Make:<%=cars[i].make%><br>
      </a>
        Model:<%=cars[i].model%><br>
        Year:<%=cars[i].year%><br>
        Color:<%=cars[i].color%><br>
        <form action="/cars/<%=cars[i].id%>?_method=delete" method="POST">
          <button type="submit" value="DELETE">Delete</button>
        </form>
      </li> 


    <%}%>
  </form>
</body>
</html>