<!DOCTYPE html>
<html>
<head>
  <title>All Cars</title>
</head>
<body>
  <nav>
    <a href="cars/new">Create a new car</a>
  </nav>

  <h1>Here is a list of all avliable cars</h1>
  <form>
    <%for(let i=0; i<cars.length; i++) {%>
      <li>
        Make:<%=cars[i].make%>
        Model:<%=cars[i].model%>
        Year:<%=cars[i].year%>
        Color:<%=cars[i].color%>
        <form action="/cars/<%=cars[i].id%>?_method=delete" method="POST">
          <button type="submit" value="DELETE">Delete</button>
        </form>
      </li> 


    <%}%>
  </form>
</body>
</html>