<html>
<head>
	<title>Show page</title>
</head>
<body>
	<div>
		<img height="600" width="400" src="<%= movie.img %>">
		<ul>
			<li>Title: <%= movie.name %></li>
			<li>Year: <%= movie.year %></li>
			<li>Genre: <%= movie.genre %></li>
			<a href="/movies/<%= movie.id %>/edit">edit</a>
		</ul>
	</div>
</body>
</html>